sudo: false
language: node_js
node_js:
  - '0.12'

before_script:
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start
  - npm install
  - bower install
  - sleep 1 # give server time to start

script:
  - npm test
